.CompactCard{
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    height:5rem;
    width:15rem;
    border-radius: 0.7rem;
    color: white;
    position: relative;
    cursor: pointer;
    padding:1rem;
} 

.CompactCard:hover{
    box-shadow: none !important;
}

.detail>span:nth-child(3){
    font-size: 22px;
    font-weight: bold;
}

.detail>span:nth-child(2){
    font-size: 19px;
    font-weight: bold;
}
