.profile-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-container-proimg{
    
    width: 150px;
    height: 150px;
    border-radius: 75px;
    box-shadow: 5px 5px 40px rgb(70, 56, 56);
}

.edit{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-button {
    padding: 10px 35px;
    background: rgb(187, 103, 255); 
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 2px 2px  rgb(96, 94, 94);
  }
  
  .edit-button:hover {
    background-color: rgb(133, 20, 225);
  }
  
.details{
    background: linear-gradient(rgb(232, 211, 249) 0%, rgb(196, 132, 243) 100%);
    padding: 10px;
    margin-top:30px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 40px;
    border-radius: 20px;
    box-shadow: 5px 5px 40px  rgb(124, 119, 119);
}

.user-id{
    background: linear-gradient(rgb(255, 236, 238) 0%, rgb(252, 165, 174) 100%);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px  rgb(125, 125, 125);
}

.user-name{
   
    background: linear-gradient(rgb(255, 236, 238) 0%, rgb(252, 165, 174) 100%);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px  rgb(125, 125, 125);
}

.e-mail{
    background: linear-gradient(rgb(255, 236, 238) 0%, rgb(252, 165, 174) 100%);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px  rgb(125, 125, 125);
}

.password{
    background: linear-gradient(rgb(255, 236, 238) 0%, rgb(252, 165, 174) 100%);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px  rgb(125, 125, 125);
}

.phone-no{
    background: linear-gradient(rgb(255, 236, 238) 0%, rgb(252, 165, 174) 100%);
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    padding-left: 20px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px  rgb(125, 125, 125);
}
.id{
    margin-left: 90px;
}

.name{
    margin-left: 56px;

}
.mail{
    margin-left: 100px;

}

.pass{
    margin-left:70px;


}

.number{
    margin-left: 70px;

}
