.profile-wrapper{
    height: 40rem;
    width: 40rem;
     background-color:rgba(254, 248, 248, 0.54);
     border-top-left-radius: 20%;
     border-bottom-right-radius: 20%;
     border: 2px solid #BB67FF;
    
} 
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.profile-img{
     padding-left: 15px;
     padding-top: 15px;
     border-radius: 50%;
}
.image-and-id{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.user-main{
    font-size: x-large;
    height: 2.5rem;                    
    color: black;
    padding-left: 50px;
    padding-right: 10px;
    margin-top:10px;
}
.user-id-wrapper{
    background-color: rgb(251, 228, 232);
    border: 2px solid #BB67FF; 
    justify-content: center;
    align-items: center;
}
.user-name{
     font-weight: bold;
     font-size: 50px;
    
}

.user-id{
    font-weight: lighter;
    font-size: 20px;
    margin-top: 20px;
    height: 3rem;
    text-align: center;
   
}

.userid-and-name{
    height: 10rem;
   align-items: center;
   justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     margin:40px;
     padding-bottom: 30px;
    border-top-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background-color:#e7cdfc;
    color:black;
    border: 2px solid #BB67FF;
}

.info-items{
    padding-left: 30px;
    padding-top: 60px;
    font-size: 25px;
}